:root {
  --max-width-page: 700px;
}

body {
  margin: 0 auto;
  max-width: var(--max-width-page);
}

header,
footer {
  background-color: #2565ae;
  width: 100%;
  text-align: center;
}

footer {
  padding: 0.5rem 0;
}

header img {
  width: 200px;
  padding: 1rem 1rem;
}

h1 {
  color: white;
  font-family: "Nunito", sans-serif;
  padding: 1.5rem 0;
  font-size: 30px;
}

h2 {
  font-size: 20px;
  padding-left: 50px;
  font-family: "Nunito", sans-serif;
}

ul {
  padding-left: 50px;
}

.last-updated {
  color: rgba(5, 205, 255, 0.699);
  padding-top: 0.5rem;
}

.info {
  color: white;
}

main a:link,
main a:visited {
  margin: 0.2rem 0;
  color: royalblue;
}

footer a:link,
footer a:visited {
  color: white;
}
