body {
  margin: 0 auto;
  max-width: 750px;
}

header {
  background-color: #2565ae;
  width: 750px;
  height: 125px;
  border-radius: 25px;
  text-align: center;
}

header img {
  width: 200px;
  float: right;
  padding: 1rem 1rem;
  border-radius: 50px;
  filter: drop-shadow(5px 5px 4px rgb(37, 37, 37));
}

footer {
  text-align: center;
  width: 750px;
  border-radius: 25px;
  background-color: #2565ae;
  padding: 0.5rem 0;
}

h1 {
  padding-left: 50px;
  line-height: 125px;
  color: white;
  font-size: 40px;
  font-family: "Nunito", sans-serif;
}

h2 {
  padding-left: 50px;
  font-family: "Nunito", sans-serif;
}

ul {
  padding-left: 50px;
}

.last-updated {
  color: rgba(5, 205, 255, 0.699);
  padding-top: 0.5rem;
}

.info {
  color: white;
}

a:link,
a:visited {
  color: white;
}
