@media only screen and (min-width: 55em) {
  h1 {
    font-size: 2.2rem;
  }
  .motto {
    font-size: large;
  }

  .logo img {
    width: 200px;
    align-items: center;
  }

  .float-img {
    max-width: 820px;
  }

  .container {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .card {
    height: 300px;
  }
}
