@media only screen and (min-width: 60em) {
  .container-home {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 70vw;
    margin: 0 auto;
  }

  .first-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
