@media only screen and (min-width: 60em) {
  .container-home {
    padding: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    width: 70vw;
    margin: 0 auto;
  }

  .first-home {
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }

  .first-city {
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }

  .social-media {
    gap: 30px;
  }

  .events {
    grid-template-columns: repeat(3, 1fr);
  }
}
