@media only screen and (min-width: 37.5em) {
  .ham {
    display: none;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }

  .navbar-items li {
    display: flex;
  }

  .container-home {
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 70vw;
    margin: 0 auto;
  }
}
