@media only screen and (min-width: 37.5em) {
  .ham {
    display: none;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }

  .navbar-items li {
    display: flex;
  }

  .container-home {
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 70vw;
    margin: 0 auto;
  }

  .social-media {
    gap: 20px;
  }

  .slider {
    width: 75vw;
    margin: 0 auto;
  }

  .events {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-popup {
    position: relative;
    width: 400px;
    margin: 5em auto;
  }

  .button-form {
    left: 5rem;
  }

  .container-join {
    background-color: rgba(51, 25, 25, 0.3);
    box-shadow: 0 0 15px rgb(24, 24, 24);
    width: 40%;
    margin: 0 auto;
  }

  .container-join input.submitBtn {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    width: 90%;
    max-width: 15rem;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .benefits ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .thanks-title img {
    width: 400px;
  }

  .directory-list .card {
    font-size: medium;
  }

  .changes-directory {
    display: flex;
    flex-direction: row;
}
