@media only screen and (min-width: 37.5em) {
  .ham {
    display: none;
  }

  .navbar-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }

  .navbar-items li {
    display: flex;
  }

  .container-home {
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 70vw;
    margin: 0 auto;
  }

  .social-media {
    gap: 20px;
  }

  .slider {
    width: 75vw;
    margin: 0 auto;
  }

  .events {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-popup {
    position: relative;
    width: 400px;
    margin: 5em auto;
  }

  .button-form {
    left: 5rem;
  }
}
