img {
  width: 100%;
}

header,
main {
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
}

h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  /* background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42)); */
  margin: 0;
  padding: 15px;
  color: #fff;
}

.logo-image {
  padding: 20px;
  width: 40px;
}

.navbar {
  background-color: #161a1d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.navbar-items {
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}

.navbar-items li {
  display: none;
}

.navbar-items li a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.navbar-items li:hover a {
  background-color: rgba(51, 51, 51, 0.3);

  transition: 0.4s;
}

.navbar-items li:first-child {
  display: block;
}

.responsive li {
  display: block;
  padding: 6px;
}

.active a {
  background-color: rgba(51, 51, 51, 0.3);
}

.circle {
  height: 75px;
  width: 75px;
  border: #ba181b;
  border-radius: 50px;
}

.first-home {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  justify-items: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

.brand-purpose {
  color: #fff;
  text-align: center;
}

.social-media {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-align: center;
  justify-content: center;
}

.button-form-home a {
  color: #fff;
}

.circle:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.card {
  background-color: rgba(51, 25, 25, 0.3);
  padding: 10px;
  text-align: center;
  font-family: "Mukta", sans-serif;
  box-shadow: 0 0 15px rgb(24, 24, 24);
}

.card h3 {
  font-family: "Outfit", sans-serif;
}

.card a {
  color: #fff;
}

.container-home {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 70vw;
  margin: 0 auto;
}

.stores-section {
  padding: 30px;
  color: #fff;
}

.stores-section h2 {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.slider p {
  font-size: 10px;
  color: white;
  text-align: center;
}

footer {
  background-color: #161a1d;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer h2 {
  margin-top: 0;
  background-color: #161a1d;
}

footer a {
  color: #fff;
}

.button-form-home {
  color: #fff;
  padding: 30px;
}

.weather-conditions {
  text-align: center;
  color: #fff;
  display: inline;
}

.container-weather {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 70vw;
  margin: 0 auto;
}

.container-weather div {
  background-color: rgba(37, 43, 73, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

#today1 {
  background-color: rgba(51, 25, 25, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  padding: 5px;
}

#today1 p {
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#today1 img {
  max-width: 50px;
}
