img {
  width: 100%;
}

header,
main {
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
}

h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  /* background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42)); */
  margin: 0;
  padding: 15px;
  color: #fff;
}

.logo-image {
  padding: 20px;
  width: 40px;
}

.navbar {
  background-color: #161a1d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.navbar-items {
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}

.navbar-items li {
  display: none;
}

.navbar-items li a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.navbar-items li:hover a {
  background-color: rgba(51, 51, 51, 0.3);

  transition: 0.4s;
}

.navbar-items li:first-child {
  display: block;
}

.responsive li {
  display: block;
  padding: 6px;
}

.active a {
  background-color: rgba(51, 51, 51, 0.3);
}

.circle {
  height: 75px;
  width: 75px;
  border: #ba181b;
  border-radius: 50px;
}

.first-home {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  justify-items: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

.brand-purpose {
  color: #fff;
  text-align: center;
}

.social-media {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-align: center;
  justify-content: center;
}

.button-form-home a {
  color: #fff;
}

.circle:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.card h3 {
  font-family: "Outfit", sans-serif;
}

.card a {
  color: #fff;
}

.container-home {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 70vw;
  margin: 0 auto;
}

.card {
  background-color: rgba(51, 25, 25, 0.3);
  padding: 10px;
  text-align: center;
  font-family: "Mukta", sans-serif;
  box-shadow: 0 0 15px rgb(24, 24, 24);
}

.grid-directory {
  cursor: pointer;
}

.list-directory {
  cursor: pointer;
}

.directory-list {
  display: flex;
  flex-direction: column;
}

.directory-list img {
  width: 100px;
}

.directory-list .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

.changes-directory {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.changes-directory img {
  width: 30px;
  padding: 5px;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 5px;
}

.stores-section {
  padding: 30px;
  color: #fff;
}

.stores-section h2 {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.slider p {
  font-size: 10px;
  color: white;
  text-align: center;
}

footer {
  background-color: #161a1d;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer h2 {
  margin-top: 0;
  background-color: #161a1d;
}

footer a {
  color: #fff;
}

.button-form-home {
  color: #fff;
  padding: 30px;
}

.weather-conditions {
  text-align: center;
  color: #fff;
  display: inline;
}

.container-weather {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 70vw;
  margin: 0 auto;
}

.container-weather div {
  background-color: rgba(37, 43, 73, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

#today1 {
  background-color: rgba(51, 25, 25, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  padding: 5px;
}

#today1 p {
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#today1 img {
  max-width: 50px;
}

.carrousel {
  width: 80%;
  max-width: 90em;
  padding: 2em;
  border-radius: 2em;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  background-color: rgba(51, 25, 25, 0.3);
  margin: 0 auto;
  overflow: hidden;
}

.carrousel .big-container {
  width: 500%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 1.5em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc(100% / 6);
  min-height: 10vh;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 1em;
}

.carrousel .points {
  width: 100%;
  margin: 1em 0 0;
  border-radius: 2em;
  background-color: rgba(75, 80, 144, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);

  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrousel .point {
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  margin: auto 10px;
}

.carrousel .point.active {
  background-color: rgba(255, 71, 71, 0.3);
}

.first-city {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
  gap: 3em;
  justify-items: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

.carrousel .cocar-logo {
  width: 200px;
}

.first-city .arg {
  width: 15em;
}

.event-section {
  text-align: center;
  padding: 50px;
  color: #fff;
}

.events {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1em;
}

.card-event {
  text-align: center;
  background-color: rgba(255, 71, 71, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 1em;
}

.event-section h3 {
  font-family: "outfit", sans-serif;
}

.event-section p {
  font-family: "mukta", sans-serif;
}

.popup {
  position: fixed;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;
}

.image-popup {
  position: relative;
  width: 300px;
  margin: 9em auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.button-form {
  position: absolute;
  bottom: 0.5rem;
  left: 2rem;
  width: 15rem;
  z-index: 1;
  cursor: pointer;
}

.container-join legend {
  font-size: large;
  font-family: "outfit", sans-serif;
  color: white;
}

form label.form-form {
  display: block;
  padding-top: 1rem;
  color: #fff;
  font-size: 0.8rem;
  font-family: "mukta", sans-serif;
  /* padding-top: 1.2rem; */
}

.container-join {
  background-color: rgba(51, 25, 25, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);
  margin: 0 auto;
  padding: 1.5em;
}

.form-form input {
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  width: 90%;
  max-width: 15rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.container-join input.submitBtn {
  border: solid 1px #999;
  background-color: rgba(0, 0, 0, 0.1);

  color: white;
  border-radius: 0.2rem;
  padding: 0.75rem 1.5rem;
  margin: 2em auto 0 2rem;
  width: 96%;
  max-width: 15rem;

  cursor: pointer;
}

/* .container-join input.submitBtn {
  display: block;
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  width: 90%;
  max-width: 15rem;
} */

form input.submitBtn:hover {
  box-shadow: 0 0 15px rgb(24, 24, 24);
}

form label.form-form input:required {
  border-left: red solid 6px;
}

form label.form-form input:required:valid {
  border-left: green solid 6px;
}

h1 img {
  width: 150px;
}

.form-benefit {
  color: #fff;
  padding: 10px;
}

.form-down {
  display: flex;
  gap: 10px;
  padding: 10px;
  color: #fff;
}

.benefits ul li {
  display: grid;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  padding: 5px;
}

.benefits ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  width: 70vw;
  margin: 0 auto;
  padding: 30px 0;
  list-style: none;
}

.benefits li {
  font-size: 1.5rem;
  font-family: "outfit", sans-serif;
  color: #fff;
  text-align: center;
}

.fill-form {
  text-align: center;
  color: #fff;
}

#membership-silver:checked ~ .silver {
  display: block;
  color: rgba(255, 255, 255, 0.616);
}

#membership-nonprofit:checked ~ .non-profit {
  display: block;
  color: rgba(255, 255, 255, 0.616);
}

#membership-bronze:checked ~ .bronze {
  display: block;
  color: rgba(255, 255, 255, 0.616);
}

#membership-gold:checked ~ .gold {
  display: block;
  color: rgba(255, 255, 255, 0.616);
}

.thanks-title {
  margin: 0 0;
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.map {
  text-align: center;
}

iframe {
  height: 300px;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 20px;
  box-shadow: 0 0 15px rgb(24, 24, 24);
}

.contact-info h2 {
  text-align: center;
  color: #fff;
}

.contact-info ul {
  margin-left: 1rem;
}

.contact-info ul li {
  color: #fff;
  padding: 1rem;
}

.director-board {
  display: flex;
  flex-wrap: wrap;
}

.director-board p {
  margin: 0.5rem 1rem;
}

.the-board {
  text-align: center;
  color: #fff;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  padding: 1em;
}

#comments {
  background-color: rgba(37, 43, 73, 0.3);
  padding: 0.5rem 1rem;
  color: #fff;
  width: 90%;
  resize: none;
}

.h3-contact {
  padding: 2rem;
  text-align: center;
  color: #fff;
}
