img {
  width: 100%;
}

header,
main {
  background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42));
}

h1 {
  text-align: center;
  font-family: "Outfit", sans-serif;
  /* background: linear-gradient(rgb(48, 50, 62), rgb(30, 31, 42)); */
  margin: 0;
  padding: 15px;
  color: #fff;
}

.logo-image {
  padding: 20px;
  width: 40px;
}

.navbar {
  background-color: #161a1d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6);
}

.navbar-items {
  font-family: "Mukta", sans-serif;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}

.navbar-items li {
  display: none;
}

.navbar-items li a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.navbar-items li:hover a {
  background-color: rgba(51, 51, 51, 0.3);

  transition: 0.4s;
}

.navbar-items li:first-child {
  display: block;
}

.responsive li {
  display: block;
  padding: 6px;
}

.active a {
  background-color: rgba(51, 51, 51, 0.3);
}

.circle {
  height: 75px;
  width: 75px;
  border: #ba181b;
  border-radius: 50px;
}

.first-home {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  justify-items: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

.brand-purpose {
  color: #fff;
  text-align: center;
}

.social-media {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-align: center;
  justify-content: center;
}

.button-form-home a {
  color: #fff;
}

.circle:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0);
}

.card {
  background-color: rgba(51, 25, 25, 0.3);
  padding: 10px;
  text-align: center;
  font-family: "Mukta", sans-serif;
  box-shadow: 0 0 15px rgb(24, 24, 24);
}

.card h3 {
  font-family: "Outfit", sans-serif;
}

.card a {
  color: #fff;
}

.container-home {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 70vw;
  margin: 0 auto;
}

.stores-section {
  padding: 30px;
  color: #fff;
}

.stores-section h2 {
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.slider p {
  font-size: 10px;
  color: white;
  text-align: center;
}

footer {
  background-color: #161a1d;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer h2 {
  margin-top: 0;
  background-color: #161a1d;
}

footer a {
  color: #fff;
}

.button-form-home {
  color: #fff;
  padding: 30px;
}

.weather-conditions {
  text-align: center;
  color: #fff;
  display: inline;
}

.container-weather {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 70vw;
  margin: 0 auto;
}

.container-weather div {
  background-color: rgba(37, 43, 73, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

#today1 {
  background-color: rgba(51, 25, 25, 0.3);
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #fff;
  padding: 5px;
}

#today1 p {
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#today1 img {
  max-width: 50px;
}

.carrousel {
  width: 80%;
  max-width: 90em;
  padding: 2em;
  border-radius: 2em;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  background-color: rgba(51, 25, 25, 0.3);
  margin: 0 auto;
  overflow: hidden;
}

.carrousel .big-container {
  width: 500%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 1.5em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc(100% / 6);
  min-height: 10vh;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 1em;
}

.carrousel .points {
  width: 100%;
  margin: 1em 0 0;
  border-radius: 2em;
  background-color: rgba(75, 80, 144, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);

  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.carrousel .point {
  width: 2em;
  height: 2em;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 15px rgb(24, 24, 24);
  margin: auto 10px;
}

.carrousel .point.active {
  background-color: rgba(255, 71, 71, 0.3);
}

.first-city {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 50px;
  gap: 3em;
  justify-items: center;
  align-items: center;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

.carrousel .cocar-logo {
  width: 200px;
}

.first-city .arg {
  width: 15em;
}

.event-section {
  text-align: center;
  padding: 50px;
  color: #fff;
}

.events {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 1em;
}

.card-event {
  text-align: center;
  background-color: rgba(255, 71, 71, 0.3);
  box-shadow: 0 0 15px rgb(24, 24, 24);
  border-radius: 1em;
}

.event-section h3 {
  font-family: "outfit", sans-serif;
}

.event-section p {
  font-family: "mukta", sans-serif;
}

.popup {
  position: fixed;
  transform: translate(-50% -50%);
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: none;
}

.image-popup {
  position: relative;
  width: 300px;
  margin: 9em auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.button-form {
  position: absolute;
  bottom: 0.5rem;
  left: 2rem;
  width: 15rem;
  z-index: 1;
  cursor: pointer;
}
