@media only screen and (min-width: 60em) {
  h1 {
    font-size: 2.2rem;
  }
  .motto {
    font-size: large;
  }

  .logo img {
    width: 200px;
    align-items: center;
  }

  .float-img {
    max-width: 820px;
  }

  .the-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card {
    display: block;
  }
}
