img {
  max-width: 100%;
}

.logo img {
  width: 100px;
}

header {
  display: flex;
  justify-content: center;
  background-color: #2565ae9f;
  align-items: center;
}

header .headings {
  flex-direction: column;
  margin-left: 3em;
}

h1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: bolder;
  font-family: "Source Sans Pro", sans-serif;
}

.motto {
  font-style: italic;
  color: #3f3d56;
  font-size: small;
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #2565ae;
  padding: 0.1rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: "Poppins", sans-serif;
}

main .wireframe {
  text-align: center;
  margin-top: 10px;
}

.navigation li {
  display: none;
  padding: 0.6rem 0;
}

.navigation li:first-child {
  display: block;
}

.responsive li {
  display: block;
}

main h2 {
  text-align: center;
  color: #2565ae;
  font-family: "Source Sans Pro", sans-serif;
}

footer {
  background-color: #2565ae;
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
  color: white;
  /* margin-top: 1.5rem; */
  font-family: "Poppins", sans-serif;
}

.formatted-time {
  padding-top: 0.8rem;
}

footer a:link,
footer a:visited {
  color: white;
}

.linked {
  background-color: #2565ae;
  border: none;
  transition: background-color 0.3s;
}

.linked::before {
  top: 0;
  left: 0;
  width: 0;
  height: 0.1rem;
  background-color: #2565ae;
  transition: width 0.3s 0.1s;
}

.linked::after {
  bottom: 0;
  right: 0;
  width: 0;
  height: 0.1rem;
  background-color: #2565ae;
  transition: width 0.3s 0.1s;
}

.linked:hover {
  border-radius: 2px;
  padding: 4px;
  color: #2565ae;
  background-color: white;
}

.linked:hover::before {
  width: 100%;
}

.linked:hover::after {
  width: 100%;
}

.active {
  text-decoration: white;
  border-radius: 2px;
  padding: 4px;
  color: #010407;
  background-color: #fff;
}

.float-img {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.floated {
  width: 10rem;
  position: absolute;
  background: #fff;
  border-radius: 5px;
  padding: 0.3rem;
  box-shadow: 0 0 30px rgb(0 0 0);
  opacity: 0.7;
  margin: 0px 30px;
  top: 10px;
  text-align: center;
}

.floated h3 {
  margin-top: 1px;
  font-size: 15px;
}

.floated p {
  font-size: 12px;
  padding: 0;
}

.week-time,
.h3-main {
  display: none;
}

.article-sec {
  background-color: whitesmoke;
  margin: 40px 0 auto;
  max-width: 700px;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.article-sec h3 {
  text-align: center;
}

.article-sec img {
  margin: 0px 0px 20px auto;
  width: 100%;
  float: right;
}

.before-footer {
  box-shadow: 0 0 7px rgb(34, 34, 34);
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  color: #3f3d56;
  font-family: "Poppins", sans-serif;
}

.before-footer img {
  display: none;
}

.before-footer p h4 {
  padding: 5px;
  margin-left: 40px;
  color: white;
}

.banner {
  display: flex;
  font-family: "Nunito", sans-serif;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ff6582;
}

.hide {
  display: none;
}

.the-section {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 10px;
  margin: 20px 0;
  margin: 0 auto;
  padding: 20px;
  color: white;
}

.the-section .card {
  background-color: #2565ae;
  box-shadow: 0 0 7px rgb(34, 34, 34);
  padding: 1rem;
}

.the-section h2 {
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.motto-card {
  font-style: italic;
  font-size: 1rem;
  color: rgb(180, 229, 255);
  text-shadow: 0 0 7px rgb(19, 19, 19);
}

.container-week {
  display: block;
}

.flex-week {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #333;
  row-gap: 5px;
  background-color: white;
}

.five-day-forecast {
  text-align: center;
  box-shadow: 0 0 5px #333;
  background-color: #2565ae;
  padding: 15px;
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
}

.five-day-forecast h3 {
  text-shadow: 0 0 7px rgb(19, 19, 19);
  color: white;
  margin-top: 5px;
}

.five-day-forecast .managed {
  text-shadow: 0 0 7px rgb(19, 19, 19);
  color: #fff;
  padding: 5px;
}

.five-day-forecast a {
  color: #fff;
}

.hide {
  display: none;
}

.container-gallery {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card-gallery {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.card-gallery:hover {
  box-shadow: 0 0 50px #333;
}

.days-visited {
  padding-top: 10px;
}

.container-storm {
  display: grid;
  width: 96%;
  padding: 10px;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 0 auto;
}

.submitBtn:hover {
  box-shadow: 0 0 25px #333;
}

.days-visited {
  padding-top: 10px;
}

#ratingvalue {
  margin: 0 15px;
  color: #2075ff;
}

/*----------- FORM --------------*/

form fieldset {
  margin: 2rem 0;
  border: 1px solid #445ba9;
  border-radius: 10px;
  padding: 0.5rem 2%;
  font-family: "Nunito", sans-serif;
}

form legend {
  color: #445ba9;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #2075ff;
  font-size: 0.8rem;
}

form label.top input,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 15rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #2075ff;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

#comments {
  width: 70%;
  height: 50%;
}

/*----------- Articles-Preston Town GRID Areas --------------*/

.articles-town {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "article-town1"
    "article-town2"
    "article-town3";
  grid-gap: 1em;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.article-town1 {
  grid-area: article-town1;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.article-town1 img {
  display: none;
}

.article-town2 {
  grid-area: article-town2;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 10px;
}

.article-town3 {
  grid-area: article-town3;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 10px;
}

/*----------- Articles-Soda Springs Town GRID Areas --------------*/

.articles-town-soda {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "article-town1-soda"
    "article-town2-soda"
    "article-town3-soda";
  grid-gap: 1em;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.article-town1-soda {
  grid-area: article-town1-soda;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.article-town1-soda img {
  display: none;
}

.article-town2-soda {
  grid-area: article-town2-soda;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 10px;
}

.article-town3-soda {
  grid-area: article-town3-soda;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 10px;
}

/*----------- Articles-Fish Haven Town GRID Areas --------------*/

.articles-town-fish {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "article-town1-fish"
    "article-town2-fish"
    "article-town3-fish";
  grid-gap: 1em;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.article-town1-fish {
  grid-area: article-town1-fish;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
}

.article-town1-fish img {
  display: none;
}

.article-town2-fish {
  grid-area: article-town2-fish;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 10px;
}

.article-town3-fish {
  grid-area: article-town3-fish;
  box-shadow: 0 0 25px #333;
  border-radius: 1rem;
  padding: 10px;
}
